* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #0477ca;
  text-decoration: none;
}

body {
  height: 100vh;
}

header {
  background-color: #ffffff;
}

header .nav-bar {
  background-color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  padding: 0 200px;
  z-index: 99;
}

header .nav-bar .logo {
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .nav-bar .nav-menu {
  height: 100px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .nav-bar .nav-menu .nav-item {
  padding: 0 30px;
}

header .nav-bar .nav-menu .nav-item a {
  color: #0477ca;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

header .nav-bar .nav-menu .nav-item a:hover {
  color: #00497e;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

header .nav-bar .hamburger {
  display: none;
  cursor: pointer;
}

header .nav-bar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #0477ca;
}

@media (max-width: 1024px) {
  header .nav-bar {
    padding: 0 20px;
    height: 80px;
  }
  header .nav-bar .nav-menu {
    background-color: #0477ca;
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 80px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    overflow: scroll;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 999;
  }
  header .nav-bar .nav-menu.active {
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .nav-bar .nav-menu .nav-item {
    margin: 16px 0;
    padding: 40px 0;
    font-size: 1.8rem;
  }
  header .nav-bar .nav-menu .nav-item .nav-link {
    color: #ffffff;
  }
  header .nav-bar .hamburger {
    display: block;
    margin-left: 40px;
  }
  header .nav-bar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  header .nav-bar .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  header .nav-bar .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.carousel {
  width: 100vw;
  min-height: calc(100vh - 80px);
  position: relative;
}

.carousel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel ul .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 500ms opacity ease-in-out;
  transition: 500ms opacity ease-in-out;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  overflow: hidden;
}

.carousel ul .slide[data-active] {
  z-index: 1;
  opacity: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.carousel ul .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-animation: slide 25s infinite;
          animation: slide 25s infinite;
}

.carousel ul .slide > div:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.carousel ul .slide > div:nth-child(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.carousel ul .slide > div:nth-child(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.carousel ul .slide > div:nth-child(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.carousel ul .slide > div:nth-child(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

@-webkit-keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.carousel ul .fade {
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-name: fade;
          animation-name: fade;
  animation-duration: 1500ms;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: auto;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-links .ft-link {
  margin: 10px 20px;
}

.footer .copyright {
  margin-top: 5px;
}

@media (max-width: 1024px) {
  .footer {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer-links {
    overflow-wrap: normal;
  }
  .footer .footer-links .ft-link {
    margin: 0px 5px;
    font-size: .9rem;
  }
}
/*# sourceMappingURL=styles.css.map */