$williams-blue: #0477ca;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
  color: $williams-blue;
  text-decoration: none;
}

body {
  height: 100vh;
}

header {
	background-color: #ffffff;


  // Navbar Desktop View
  .nav-bar {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 200px;
    z-index: 99;

    .logo {
      font-size: 2rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nav-menu {
      height: 100px;
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      .nav-item {
        padding: 0 30px;

        a {
          color: $williams-blue;
          transition: 200ms ease-in-out;

          &:hover {
            color: #00497e;
            transition: 400ms ease-in-out;
          }
        }
      }
    }

    .hamburger {
      display: none;
      cursor: pointer;

      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $williams-blue
      }
    }
  }
  

  // Navbar Mobile View
  @media (max-width: 1024px) {
    .nav-bar {
      padding: 0 20px;
      height: 80px;

      .nav-menu {
        background-color: $williams-blue;
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 80px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        overflow: scroll;
        transition: 0.3s;
        z-index: 999;

        &.active {
          left: 0;
          transition: 0.3s;
        }

        .nav-item {
          margin: 16px 0;
          padding: 40px 0;
          font-size: 1.8rem;
          
          .nav-link {
            color: #ffffff;
          }
        }
      }

      .hamburger {
        display: block;
        margin-left: 40px;
        &.active {
          .bar {
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(1) {
              transform: translateY(8px) rotate(45deg);
            }
            &:nth-child(3) {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}


// Landing Carousel Desktop View

.carousel {
	width: 100vw;
	min-height: calc(100vh - 80px);
	position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .slide {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: 500ms opacity ease-in-out;
      transition-delay: 500ms;
      overflow: hidden;
    }

    .slide[data-active] {
      z-index: 1;
      opacity: 1;
      transition-delay: 0ms;
    }

    .slide > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      animation: slide 25s infinite;
    }

    .slide > div:nth-child(1) {
      animation-delay: 0s;
    }
    .slide > div:nth-child(2) {
      animation-delay: 5s;
    }
    .slide > div:nth-child(3) {
      animation-delay: 10s;
    }
    .slide > div:nth-child(4) {
      animation-delay: 15s;
    }
    .slide > div:nth-child(5) {
      animation-delay: 20s;
    }

    @keyframes slide {
      10% {
        opacity: 1;
      }
      20% {
        opacity: 1;
      }
      30% {
        opacity: 0;
      }
      40% {
        transform: scale(1.2);
      }
    }

    .fade {
      -webkit-animation-name: fadeIn;
      -webkit-animation-duration: 1500ms;
      animation-name: fade;
      animation-duration: 1500ms;
    }

    @keyframes fade {
      0% { opacity: 0}
      100% { opacity: 1}
    }
  }
}

// Footer Begins
.footer {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: auto;

  .footer-links {
    display: flex;
    
    .ft-link {
      margin: 10px 20px;
    }
  }

  .copyright {
    margin-top: 5px;
  }
}

// Footer Mobile View
@media (max-width: 1024px) {
  .footer {
    height: 80px;
    display: flex;
    justify-content: center;

    .footer-links {
      overflow-wrap: normal;

      .ft-link {
        margin: 0px 5px;
        font-size: .9rem;
      }

    }
  }
}